Pods/
Country.mmdb
geoip.dat
geosite.dat
Carthage
ClashX.a
ClashX.h
ClashX/Resources/dashboard
ClashX.app
*.dmg
**/xcuserdata/
.idea
*.pyc
ClashX/clash/
.DS_Store
.vscode
ClashX/goClash/goClash.h
ClashX/goClash/goClash.a
fastlane/report.xml
ClashX/Resources/geoip.db.gz
ClashX/Resources/geosite.db.gz
.bundle/config
ClashX/Resources/com.metacubex.ClashX.ProxyConfigHelper.*
clash.meta
